<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="../static/css/products.css"> <!-- Link your CSS file -->
</head>
<body>
    <div id="productDetailsContainer">
        <div class="product-images">
            <img id="mainProductImage" src="" alt="Product Image">
        </div>
        <div class="product-info">
            <h1 id="productName"></h1>
            <div id="productPrice"></div>
            <p id="productDescription"></p>
            <ul id="productSpecs">
                <!-- Specifications like brand, processor, memory size, etc. -->
            </ul>
            <button id="addToCartButton">Add to Cart</button>
        </div>
    </div>
    <script src="../static/javascript/product-details.js"></script> <!-- Link your JS file -->
</body>
</html>
